@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
* {
    box-sizing: border-box;
  }
  
body,
ul,
li,
p,h1,h2,h3,h4,h5,h6,input {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    box-sizing: border-box;
    height: 13vh;
    width: 100%;
    /* background-color: lightblue; */
    padding: 10px 30px;
}

.navbar-wrapper {
    box-sizing: border-box;
    /* background-color: lightpink; */
    box-sizing: border-box;
    border-bottom: 0.5px solid lightgray;
    height: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.nav-left span{
    color: #3734A9;
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
}
.nav-left img {
    height: 45px;
    width: 45px;
    cursor: pointer;
}

.nav-center ul {

    display: flex;
    align-items: center;
    gap: 2rem;
    
}
.nav-center li {
    list-style: none;
    font-size: 16px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.nav-center a:hover{
    border-bottom: 2px solid #3734A9;
    color: #3734A9;
}


.nav-center a {
    text-decoration: none;
    color: #5B5B5B;
    
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 18px;
}

.nav-right>div {
    display: flex;
    align-items: center;
    gap: 16px;
    cursor: pointer;
}
.nav-right img{
    cursor: pointer;
}
.nav-right span{
    cursor: pointer;
}
.nav-right button {
    width: 159px;
    height: 50px;
    border-radius: 20px;
    background: #3734A9;
    color: white;
    border: none;
    font-size: 17px;
    cursor: pointer;
}

.page-direction{
    background-color: rgba(248, 248, 255, 1);
    margin: 10px 30px;
    padding: 40px 20px;
    border-radius: 10px;   
    width: fit-content;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-weight: 700;
    color: rgba(55, 52, 169, 1);
    
}
.page-direction span{
    cursor: pointer;
}
.page-direction-active{
    color: rgba(186, 186, 186, 1);
}
.page-direction img {
    width: 3px;
    height: 6px;
    
}

.main-image{
    background-color: rgba(55, 52, 169, 1);
    margin: 10px 30px;
    height: 50vh;
    border-radius: 20px;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    z-index: 10;
}
.child-image-wrapper{
    
    height: 80%;
    border-radius: 200px;
    overflow: hidden;
    position: absolute;
    left: 20%;
    z-index: 20;
}

.child-image-wrapper img{
    height: 100%;
    
}

.slanted-rectangle{
    background-color: rgba(0, 42, 72, 1);
    height: 70vh;
    width: 50vw;
    transform: rotate(-35deg);
    position: absolute;
    top: 58%;
    left: -12%;
    z-index: 15;
}

.thread-design{
    position: absolute;
    left: 55%;
    bottom: 0;
    z-index: 25;
    margin: 0;
    height: 28vh;
    width: 14vw;
}
.thread-design img{
    height: 100%;
    width: 100%;
}
.rotated-box{
    background-color: rgba(235, 235, 255, 1);
    height: 55vh;
    width: 38vw;
    min-width: 350px;
    position: absolute;
    right: 0vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(37deg);
    border-radius: 90px;
}
.rotated-box-wrapper{
    text-align: end;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transform: rotate(-37deg);
}
.box-heading-1{
    font-weight: 400px;
    font-size: 42px;
    color: rgba(55, 52, 169, 1);
}

.box-heading-2{
    font-weight: 700;
    font-size: 26px;
    color:rgba(55, 52, 169, 1);
}

.box-description{
    font-weight: 400;
    font-size: 10px;
    max-width: 300px;
}
.box-buttons{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 16px;
    
}

.box-buttons .left-button{
    height: 80%;
    border-radius: 10px;
    background-color: rgba(55, 52, 169, 1);
    color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 12px;
    font-weight: 700;
    padding: 15px;
    border: none;
    cursor: pointer;
}

.box-buttons .right-button{
    background-color: rgba(212, 34, 34, 1);
    border-radius: 50%;
    border: none;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.box-buttons .right{
    box-sizing: border-box;
    padding: 10px 0;
    gap: 8px;
    display: flex;
    align-items: center;
}
.box-buttons span{
    font-weight: 400;
    font-size: 10px;
    color: rgba(55, 52, 169, 1);
    cursor: pointer;
}


section.featured-title{
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 40px;
    margin: 40px;
}


main.store-content{
    display: flex;
    padding: 10px 30px;
}

.store-content .filter-heading{
    color: rgba(55, 52, 169, 1);
    font-weight: 700;
    font-size: 20px;
}

.store-content h5{
    font-weight: 700;
    font-size: 14px;
}
.store-content label{
    font-weight: 400;
    font-size: 12px;
    color: rgba(0, 23, 31, 1);
}
.store-content .filter-tags{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
}
.store-content .filter-container{
    flex: 1;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* background-color: rgba(249, 249, 20, 1); */
}

.store-content .clothing-cards{
    flex: 5;
    /* background-color: lightpink; */
}

.display-clothing-heading-group{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px ;
    padding-left: 30px;
}

.store-content .filter-group{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: 1px solid rgba(235, 238, 239, 1);
    padding-bottom: 15px;
    margin-bottom: 15px ;
}
.filter-group .price-input{
    display: flex;
    padding: 0 5px ;
    gap: 5px;
    align-items: center;
    
}

.filter-group input:checked{
    /* background-color: white; */
    accent-color: white;
    outline: 0.1px solid lightgray;
    
    outline-style: auto;
}

.price-input input{
    width: 40%;
    max-width: 30px;
    border: none;
    text-indent: 50%;
    border-bottom: 1px dotted rgba(203, 203, 203, 1);
}
.price-input input:focus{
    outline: none;
}
.filter-price-separator{
    margin: 0 15px;
}
.display-clothing-title .style-heading{
    color: rgba(55, 52, 169, 1);
    font-weight: 700;
    font-size: 20px;
    padding: 0 10px 0 30px;
}

.display-clothing-title .style-gender-type{
    font-weight: 400;
    font-size: 12px;
    color: rgba(91, 91, 91, 1);
}
.display-clothing-sortBy{
    display: flex;
    justify-content: center;
    position: relative;
}
.display-clothing-sortBy button{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border: 1px solid rgba(55, 52, 169, 1);
    background-color: inherit;
    color: rgba(55, 52, 169, 1);
    font-size: 12px;
    border-radius: 20px;
    cursor: pointer;
}

#sortByDropdown {
    display: none;
    position: absolute;
    top: 40px;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    
}

#sortByDropdown li {
    padding: 10px;
    cursor: pointer;
    border-bottom: 0.5px solid lightgray;
}

#sortByDropdown li:hover {
    background-color: #f5f5f5;
}

.display-clothing-cards{
    /* background-color: yellow;     */
    position: relative;
}

.sign-up-card{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
}

.sign-up-card-wrapper{
    background-color: rgba(55, 52, 169, 1);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign-up-card h3{
    box-sizing: border-box;
    font-size: 24px;
    font-weight: 700;
    color: rgba(253, 253, 253, 1);
    margin: 20px 40px;
}

.sign-up-card form{
    background-color: rgba(255, 255, 255, 1);
    width: 80%;
    display: flex;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
    border-radius: 20px;
    gap: 10px;
}

.sign-up-card input{
    flex: 3;
    height: 40px;
    border-radius: 10px;
    border: 1px solid rgba(55, 52, 169, 1);
    text-indent: 20px;
}
/* .sign-up-card input:focus{
    outline: none;
} */
.sign-up-card button{
    flex: 1;
    border-radius: 10px;
    background-color: rgba(55, 52, 169, 1);
    color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 17px;
    border: none;
}
.footer{
    /* background-color: lightpink; */
    box-sizing: border-box;
    margin: 60px 30px;
    padding: 20px 80px 0 80px;
    border-top: 2px solid rgba(55, 52, 169, 1);
    
}

.footer-wrapper{
    /* background-color: lightblue; */
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.footer-left{
    max-width: 25rem ;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    margin: 0 0 16px 0;
}

.top{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.top img{
    height: 45px;
    width: 45px;
}
.top span{
    font-size: 24px;
    font-weight: 700;
}

.center{
    font-size: 18px;
    font-weight: 400;
    color: rgba(127, 132, 141, 1);
    line-height: 25px;
    margin: 10px 0;
}

.bottom{
    font-size: 18px;
    font-weight: 400;
    color: rgba(41, 50, 65, 1);
}

.footer-right{
    display: flex;
    gap: 100px;
    line-height: 22px;
}

.right-list{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.items{
    font-size: 16px;
    font-weight: 400;
    color: rgba(127, 132, 141, 1);
    font-family: 'Open Sans', sans-serif;
    gap: 10px;
    cursor: pointer;
}

.social{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.social img{
    height: 22px;
    width: 22px;
}








.clothing-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.swirl-icon{
    position: absolute;
    bottom: 15vh;
    left: -10vw;
}
.card {
    width: 280px;
    margin-bottom: 10px ;
    padding: 5px;
    box-shadow: 0px 4px 28px -2px rgba(0, 0, 0, 0.08);
    
    border: 1px solid #ddd;
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center;
}
.card:hover{
    transform: scale(1.02);
    transition: transform 0.4s ease-out;
}
.card img{
    width: 100%;
    border-radius: 10px;
    border-radius: 10px;
}

.card-title-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 0 10px ;    
    gap: 10px;
    position: relative;
}
.clothing-title{
    font-size: 13px;
    font-weight: 700;
    color: rgba(0, 23, 31, 1);
}
.clothing-title-cart-container{
    background-color: rgba(55, 52, 169, 1);
    padding: 10px;
    border-radius: 20px;
    position: absolute;
    right: 10px;
    top: 15px;
}
.card-cart-icon{
    width: 24px;
    height: 20px;
    cursor: pointer;
    
}
.card-category{
    font-size: 10px;
    font-weight: 400;
    font-style: italic;
    color: rgba(102, 116, 121, 1);
}

.card-category-value{
    font-size: 10px;
    font-weight: 700;
    color: rgba(102, 116, 121, 1);
    margin-left: 5px;
}

.category-separator{
    font-size: 12px;
    font-weight: 300;
    font-style: italic;
    color: rgba(102, 116, 121, 1);
}
.card-price{
    font-size: 12px;
    font-weight: 700;
    color: rgba(0, 23, 31, 1);
    display: flex;    
    padding: 5px 10px 15px ;
}
.pagination {
    display: flex;
    justify-content: center;
    margin: 100px 0;
    gap: 10px;
}

.pagination button {
    margin: 0 5px;
    padding: 8px;
    cursor: pointer; 
    background-color: rgba(55, 52, 169, 1);  
    border-radius: 8px; 
    border: none;
    color: rgba(253, 253, 253, 1);
}

.singleLineDiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    padding: 0 10px ;
    justify-content: start;
    gap: 10px;
}



.menu-toggle {
    display: none;
    color: #3734A9;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.5rem;
}

.modal {
    display: none;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.96);
    
    align-items: center;
    
}

.modal-content {
    background-color: #3734A9;
    border-radius: 30px;
    color: #fff;
    width: 80%;
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    
}

.close {
    float: right;
    cursor: pointer;
    font-size: 1.5rem;
}

.modal-links {
    list-style: none;
    padding: 0;
}

.modal-links li {
    padding: 10px;
}

.modal-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem;
}

@media (width <= 950px) {
    .menu-toggle{
        display: flex;
    }
    .elements-hidden{
        display: none;
    }
    .nav-right{
        display: flex;
        gap: 1rem;
    }
    .modal.show{
        display: block;
        opacity: 1;
        transition: opacity display 1s ease;
    }
    .slanted-rectangle{
        left: -22%;
    }
    div.thread-design{
        display: none;
    }
    .child-image-wrapper {
        left: 10%;
    }
    .sign-up-card-wrapper{
        width: 80%;
    }
    .sign-up-card h3{
        font-size: 17px;
    }
    .sign-up-card button{
        font-size: 11px;
    }

    .footer-right{
        gap: 20px;
    }
}

@media (width <= 800px){
    .child-image-wrapper{
        display: none;
    }
    .slanted-rectangle{
        display: none;
    }
    .rotated-box{
        position: static;
        margin: auto;
    }
    .sign-up-card h3{
        font-size: 13px;
    }
    .sign-up-card button{
        font-size: 9px;
    }
    .sign-up-card img{
        height: 12px;
        width: 15px;
    }
    .footer{
        padding: 0;
    }
}

@media (width <= 650px){
    .nav-left span{
        font-size: 20px;
    }   
    .nav-left img{
        height: 35px;
        width: 35px;
    }
    .page-direction{
        font-size: 15px;
    }
    .nav-right img{
        height: 18px;
        width: 18px;
    }
    .nav-right button{
        display: none;
    }

    section.featured-title{
        font-size: 33px;
    }
    .display-clothing-heading-group {
        padding-left: 0px;
    }
    .display-clothing-title{
        display: flex;
        align-items: center;
    }
    .display-clothing-title .style-heading{
        padding: 0 10px 0 0;
        font-size: 16px;
    }
    .display-clothing-title .style-gender-type{
        font-size: 10px;
    }
    .filter-container {
        display: none !important; 
    }

    div.filter-button {
        display: block;
    }

    .swirl-icon{
        display: none;
    }
    .sign-up-card h3{
        font-size: 11px;
    }
    .sign-up-card button{
        font-size: 7px;
    }
    .sign-up-card img{
        height: 10px;
        width: 13px;
    }


    .top{
        gap: 0.5rem;
    }
    .top img{
        width: 35px;
        height: 35px;
    }
    .top span {
        font-size: 20px;
    }
    .center{
        padding-right: 10px;
        font-size: 14px;
    }
    .bottom{
        font-size: 14px;
    }
    div.items{
        font-size: 12px;
    }
    .social img{
        height: 15px;
        width: 15px;
    }
}

@media (width <= 425px){
    .nav-left span{
        font-size: 17px;
    }   
    .nav-left img{
        height: 35px;
        width: 35px;
    }
    .nav-right img{
        height: 16px;
        width: 16px;
    }
    .page-direction{
        font-size: 10px;
        padding: 25px 15px;
    }
    .main-image{
        justify-content: center;
    }
    div.rotated-box{
        transform: rotate(50deg);
        height: 50vh;
    }
    div.rotated-box-wrapper{
        transform: rotate(-50deg);
        text-align: center;
        display: flex;
        justify-content: center;
    }
    .box-heading-1{
        font-size: 32px;
    }
    .box-heading-2{
        font-size: 16px;
    }
    .box-description{
        font-size: 8px;
    }
    .box-buttons{
        font-size: 8px;
    }
    
    .box-buttons{
        transform: scale(0.8);
    }
    section.featured-title{
        margin: 30px;
        font-size: 26px;
    }
    .display-clothing-sortBy button{
        padding: 8px;
    }
    .display-clothing-sortBy span{
        font-size: 9px;
    }

    .sign-up-card-form{
        display: flex;
        flex-direction: column;
    }
    .sign-up-card-form button{
        padding: 8px;
        font-size: 10px;
    }
    .sign-up-card-form input{
            padding: 8px;
    }
    .pagination button{
        margin: 0;
    }
    .footer-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .footer-left,
    .footer-right {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    div.center,
    div.bottom{
        text-align: left;
    }
    
    .footer-right {
        justify-content: space-between;
    }
    .items{
        display: flex;
    }
}


.filter-button {
    display: none;
    cursor: pointer;
    background-color: rgba(55, 52, 169, 1);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 10px;
}

.modal-filter {
    
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.96);
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.modal-content-filter {
   
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}

@media (max-width: 650px) {
    
}

@media (height <= 450px){
    .navbar-wrapper{
        height: fit-content;
    }
    .page-direction{
        margin-top: 50px;
    }
}